{% extends "layout.html.twig" %}
{% block head %}
    <title>N'GORAN RODRIGUE-Developpeur Web</title>{% endblock %}
{% block content %}
<!-- Main Start -->
<main>







    <!-- Blog Start -->
    <section id="blog" class="section blog-section gray-bg">
        <div class="container">

            <div class="row justify-content-center m-60px-b md-m-30px-b sm-m-25px-b">
                <div class="col-12 col-md-10 col-lg-7">
                    <div class="section-title text-center">
                        <h2 class="font-alt">LISTE DES ARTICLES</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for l in listpost %}

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="blog-item md-m-15px-tb">

                            <div class="blog-content">
                                <div class="post-meta">
                                    Mise à jour   <span>03.02.2018</span>
                                </div><!-- /post-meta -->

                                <h4><a class="theme-color" href="#">Lorem ipsum dolor sit amet.</a></h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <a href="#" class="more-btn">Détails <i class="ti-arrow-right"></i></a>
                            </div><!-- /blog-content -->
                        </div> <!-- Blog Item -->
                    </div>
                {% endfor %}



            </div>
        </div> <!-- container --><br><br><br><br><br><br><br><br>
    </section>
    <!-- Blog End -->





</main>
<!-- Main End -->
{% endblock content %}