<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %} {% endblock %}


    <!---Font Icon-->
    <link href="http://localhost/MONBLOG/public/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="http://localhost/MONBLOG/public/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <!-- / -->

    <!-- Plugin CSS -->
    <link href="http://localhost/MONBLOG/public/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost/MONBLOG/public/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="http://localhost/MONBLOG/public/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- / -->

    <!-- Theme Style -->
    <link href="http://localhost/MONBLOG/public/css/styles.css" rel="stylesheet">
    <link href="http://localhost/MONBLOG/public/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- / -->

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" />
    <!-- / -->
</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbarRyan" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header -->
<header>
    <nav class="navbar header-nav fixed-top navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="#">KRN <span class="theme-bg"></span></a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRyan" aria-controls="navbarRyan" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarRyan">
                <ul class="navbar-nav">
                    <li><a class="nav-link active" href="index.php?key=index">ACCUEIL</a></li>
                    <li><a class="nav-link" href="#aboutus">A PROPOS DE MOI</a></li>
                    <li><a class="nav-link" href="#services">DOMAINES DE COMPETENCES </a></li>
                    <li><a class="nav-link" href="#blog">PUBLICATIONS </a></li>
                    <li><a class="nav-link" href="#portfolio">REFERENCES</a></li>

                    <li><a class="nav-link" href="#contact">CONTACT</a></li>
                    <li><a class="nav-link" href="index.php?key=login">CONNEXION</a></li>
                </ul>
            </div>
            <!-- / -->

        </div><!-- Container -->
    </nav> <!-- Navbar -->
</header>
<!-- Header End -->



<!-- Main Start -->
<main>
{% block content %} {% endblock %}
    </main>
<!-- Main End -->


<!-- Footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <span>KRN <span></span></span>
        </div>
        <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
            <li><a href="#"><i class="fab fa-codepen"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-messenger"></i></a></li>
        </ul>
        <p class="copyright">© 2018 KRN. Tous droits reservés</p>
    </div>
</footer>

<!-- jQuery -->
<script src="http://localhost/MONBLOG/public/js/jquery-3.2.1.min.js"></script>
<script src="http://localhost/MONBLOG/public/js/jquery-migrate-3.0.0.min.js"></script>

<!-- Plugins -->
<script src="http://localhost/MONBLOG/public/plugin/bootstrap/js/popper.min.js"></script>
<script src="http://localhost/MONBLOG/public/plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="http://localhost/MONBLOG/public/plugin/owl-carousel/js/owl.carousel.min.js"></script>
<script src="http://localhost/MONBLOG/public/plugin/isotope/isotope.pkgd.min.js"></script>
<script src="http://localhost/MONBLOG/public/plugin/magnific/jquery.magnific-popup.min.js"></script>
<script src="http://localhost/MONBLOG/public/plugin/particles/particles.min.js"></script>
<script src="http://localhost/MONBLOG/public/plugin/particles/particles-app.js"></script>

<!-- custom -->
<script src="http://localhost/MONBLOG/public/js/custom.js"></script>

</body>
<!-- Body End -->

</html>