{% extends "layout.html.twig" %}


{% block head %}
    <title>Connectez-Vous</title>{% endblock %}


{% block content %}
    <main>








        <!-- Contact Start -->
        <section id="contact" class="section p-0px-b contact-section">
            <div class="container">
                <div class="row justify-content-center m-60px-b md-m-40px-b">
                    <div class="col-12 col-md-10 col-lg-7">
                        <div class="section-title text-center">
                            <h2 class="font-alt">ME CONTACTER</h2>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="contact-us-box">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <!-- Contact Form -->
                            <div class="contact-form">
                                <h2>Connectez-vous ?
                                </h2>
                                <form>
                                    <div class="form-group">
                                        <input name="Login" placeholder="Login" class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input name="passwd" placeholder="Mot de Passe" class="form-control" type="email">
                                    </div>

                                    <div class="send">
                                        <button class="m-btn m-btn-theme"><i class="fa fa-envelope-o" aria-hidden="true"></i>Envoyer</button>
                                    </div>
                                </form>
                            </div>
                            <!-- / -->
                        </div>
                        <div class="col-md-6">
                            <!-- Contact Form -->
                            <div class="contact-form">
                                <h2>Pas de compte ? Inscrivez vous Ici</h2>
                                <form>
                                    <div class="form-group">
                                        <input name="nom" placeholder="Nom" class="form-control" type="text">
                                    </div>

                                    <div class="form-group">
                                        <input name="prenoms" placeholder="Prenoms" class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input name="nom" placeholder="Nom" class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input name="Email" placeholder="Email" class="form-control" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input name="passwd" placeholder="Mot de Passe" class="form-control" type="email">
                                    </div>


                                    <div class="send">
                                        <button class="m-btn m-btn-theme"><i class="fa fa-envelope-o" aria-hidden="true"></i>Envoyer</button>
                                    </div>
                                </form>
                            </div>
                            <!-- / -->
                        </div>

                    </div>
                </div>
            </div> <!-- Container -->
        </section>
        <!-- Contact End -->


    </main>
    <!-- Main End -->
{% endblock content %}